body{
  background-color: rgba(0, 0, 0, 0.38);
}

table.team_table { 
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.54);
}
div.team_table {
  width:75%; 
  left:20px; 
  position: relative;"
}

th {
  border: 2px;
  border-color: black;
  border-style: solid;
}

.pos_div {
  width: 80%;
  height: 80%;
  background-color: rgb(92, 189, 216);
  margin:0 auto;
  border-radius: 25px;
}