<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Pubs</title>
  <link rel="stylesheet" href="teampage.css">
</head>
<body>
  <div class=team_table>

    <table class="team_table">
      <tr class="team_header">
        <th>Pos</th>
        <th class="player_info">Player Name, position</th>
        <th>fantasy points this season</th>
        <th>passing yards</th>
        <th>passing touchdowns</th>
        <th>rushing attempts</th>
        <th>rushing yards</th>
        <th>rushing tds</th>
        <th>targets</th>
        <th>receptions</th>
        <th>receiving tds</th>
      </tr>
      <!-- <% @players.each do |player| %> 
      <tr>
        <th class="player_infp"><%=player.position%> <%=player.name%>, <%player.nfl_team</th>
        <th class="pts"><%=player.points%></th>
        <th><%=player.passing_yards%></th>
        <th><%=player.passing_touchdowns%></th>
        <th><%=player.rushing_attempts%></th>
        <th><%=player.rushing_yards%></th>
        <th><%=player.rushing_tds%></th>
        <th><%=player.targets%></th>
        <th><%=player.receptions%></th>
        <th><%=player.receiving tds%></th>
      </tr>
      <% end %> -->
       <tr>
        <th class="pos">
          <div class="pos_div">
          QB</th>
          </div>
        <th class="player_info">Jeb Bush, QB</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
      </tr>
      <tr>
        <th class="pos">RB</th>
        <th class="player_info">Ben Carson, RB</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
    <tr>
        <th class="pos">RB</th>
        <th class="player_info">Ted Cruz, RB</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
    <tr>
        <th class="pos">WR</th>
        <th class="player_info">John Kasich, WR</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
    <tr>
        <th class="pos">WR</th>
        <th class="player_info">Jim Gilmore, WR</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
    <tr>
        <th class="pos">WR</th>
        <th class="player_info">Marco Rubio, WR</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
    <tr>
        <th class="pos">TE</th>
        <th class="player_info">Rick Perry, TE</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
    <tr>
        <th class="pos">K</th>
        <th class="player_info">Donald Trump, K</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
    <tr>
        <th class="pos">D</th>
        <th class="player_info">Mitt Romney, D</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
    </tr>
  </table>
</div>


</body>
</html>